<div class="whatsapp_chat_support wcs_fixed_right" id="whatsapp-popup">
  <div class="wcs_button wcs_button_circle">
      <span class="fa fa-whatsapp"></span>
  </div>  

  <div class="wcs_popup">
      <div class="wcs_popup_close">
          <span class="fa fa-close"></span>
      </div>
      <div class="wcs_popup_header">
          <strong>Need Help? Chat with us</strong>
      </div>  
      <div class="wcs_popup_person_container">
          <div 
              class="wcs_popup_person" 
              data-number="919445944601"
          >
              <div class="wcs_popup_person_img">
                  <img src="assets/images/user-illustration.svg"
                      alt="Illustration image of a user">
              </div>
              <div class="wcs_popup_person_content">
                  <div class="wcs_popup_person_name">Business Collaboration</div>
                  <div class="wcs_popup_person_status">I'm online</div>
              </div>  
          </div>
          <div 
              class="wcs_popup_person" 
              data-number="919445944601"
          >
              <div class="wcs_popup_person_img">
                  <img src="assets/images/user-illustration.svg"
                      alt="Illustration image of a user">
              </div>
              <div class="wcs_popup_person_content">
                  <div class="wcs_popup_person_name">E-Commerce</div>
                  <div class="wcs_popup_person_status">I'm online</div>
              </div>
          </div>
          <div 
              class="wcs_popup_person" 
              data-number="919445944601"
          >
              <div class="wcs_popup_person_img">
                  <img src="assets/images/user-illustration.svg"
                      alt="Illustration image of a user">
              </div>
              <div class="wcs_popup_person_content">
                  <div class="wcs_popup_person_name">E-Bike</div>
                  <div class="wcs_popup_person_status">I'm online</div>
              </div>
          </div>
          <div 
              class="wcs_popup_person" 
              data-number="919445944601"
          >
              <div class="wcs_popup_person_img">
                  <img src="assets/images/user-illustration.svg"
                      alt="Illustration image of a user">
              </div>
              <div class="wcs_popup_person_content">
                  <div class="wcs_popup_person_name">Digital Signature Certificate</div>
                  <div class="wcs_popup_person_status">I'm online</div>
              </div>
          </div>
          <div 
              class="wcs_popup_person" 
              data-number="919445944601"
          >
              <div class="wcs_popup_person_img">
                  <img src="assets/images/user-illustration.svg"
                      alt="Illustration image of a user">
              </div>
              <div class="wcs_popup_person_content">
                  <div class="wcs_popup_person_name">Recharging & Bill Payment</div>
                  <div class="wcs_popup_person_status">I'm online</div>
              </div>
          </div>
          <div 
              class="wcs_popup_person" 
              data-number="919445944601"
          >
              <div class="wcs_popup_person_img">
                  <img src="assets/images/user-illustration.svg"
                      alt="Illustration image of a user">
              </div>
              <div class="wcs_popup_person_content">
                  <div class="wcs_popup_person_name">Digital Learning</div>
                  <div class="wcs_popup_person_status">I'm online</div>
              </div>
          </div>
      </div>
  </div>
</div>