.services-row {
  /* Creating a responsive grid for services content */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 1.5rem;
  justify-items: center;
  /* Balancing the margin between services and upcoming image. */
}

/* Fluid width for each immediate div to fit the width of
  grid-template-column */
.services-row > div {
  width: 100% !important;
  margin: 20px 20px 50px 20px;
}

.services-row > div .elementor-element-populated {
  padding: 0 20px 20px 20px !important;
}

/* Aligning content to center horizontally for each services card. */
.services-row > div .elementor-element-populated .elementor-widget-wrap {
  justify-content: center !important;
}

.services-row .elementor-widget-container {
  padding-bottom: 0 !important;
}

/* Unsetting left property which was set in litespeed.css */
.services-row .elementor-widget-heading {
  left: initial !important;
}

/* Giving spacing between top and bottom of each section. */
.privacy-policy section, .terms-and-conditions section {
  margin-top: 2.5rem;
  margin-bottom: -1.5rem;
}

.privacy-policy section h4, .terms-and-conditions section h4 {
  margin: 10px 0;
}

.privacy-policy section p, .terms-and-conditions section p {
  margin: 12px 0;
  font-size: 18px;
}

@media (max-width: 1024px) {
  nav ul a {
    font-size: 18px !important;
  }

  /* Making the header fixed in small devices. */
  .primary-header {
    position: fixed !important;
    background-color: #fff;
  }
}


/* Start of whatsapp popup styles */

/* Positioning whatsapp chat icon to bottom right */
.whatsapp_chat_support {
  bottom: 20px;
  left: 20px;
}

.whatsapp_chat_support .wcs_popup_header {
  padding: 8px 20px;
}

.whatsapp_chat_support .wcs_popup_header_description {
  margin-top: 0;
}

/* Giving a fixed width to the popup */
.whatsapp_chat_support .wcs_popup {
  width: 500px !important;
  margin-right: 10px;
}

/* Displaying contacts in the popup as a grid
  with 3 column layout. */
.whatsapp_chat_support .wcs_popup_person_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

/* For each contact in popup display it as column
  with contents centered horizontally. */
.whatsapp_chat_support .wcs_popup_person {
  position: relative;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 140px;
}


/* Changing default display: table-cell with display: block */
.whatsapp_chat_support .wcs_popup_person_content {
  text-align: center;
  display: block;
}

/* Removing default overflow. */
.whatsapp_chat_support .wcs_popup_person_img {
  overflow: unset;
}

.whatsapp_chat_support img {
  width: 40px;
  height: 40px;
}

.whatsapp_chat_support .wcs_popup_person_name {
  line-height: 20px;
  margin: 5px 0;
}

.whatsapp_chat_support .wcs_popup_person_status {
  width: 80px;
  font-size: 12px;
}

/* Positioning the popup close button to top right. */
.whatsapp_chat_support .wcs_popup_close {
  top: 10px;
  right: 20px;
}

/* On small screen devices displaying contacts in popup
    as 2 column layout. */
@media (max-width: 600px) {
  .whatsapp_chat_support .wcs_popup_person_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Positioning the popup to bottom on small height devices. */
@media (max-height: 700px) {
  .whatsapp_chat_support .wcs_popup {
    bottom: -10px;
  }
}

/* End of whatsapp popup styles. */